
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/gradle/wrapper/gradle-wrapper.jar
composeApp/build/*
.gradle/*
/screenshots/*
/.kotlin/metadata/*
/.kotlin/errors/*
/patch/*
